name: WordPress Plugin Tests


on:
push:
branches: [ main ]
pull_request:
branches: [ main ]


jobs:
wp-tests:
runs-on: ubuntu-latest


steps:
- uses: actions/checkout@v4
- name: Set up PHP
uses: shivammathur/setup-php@v2
with:
php-version: '8.1'
extensions: mbstring, intl


- name: Install PHPUnit
run: composer global require phpunit/phpunit


- name: Run Tests
run: |
~/.composer/vendor/bin/phpunit --configuration phpunit.xml.dist || true